body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


.img-profile{
	margin: -150px 10px 20px 50px;
	position: relative;
}

.img-profile img
{
	width: 170px;
	height: 200px;
}

@media (min-width: 768px) {
	.navbar-fixed-left{
		left:0;
		position: relative;
	}
}
@media (min-width: 992px) {
	.navbar-fixed-left{
		left:0;
		position: fixed;
	}
}
@media (min-width: 1200px) {
	.navbar-fixed-left{
		left:0;
		position: fixed;
	}
}

@media (max-width: 992px) {
	.img-profile{
		margin: 10px;
		position: relative;
	}

	.img-profile img
	{
		width: 170px;
		height: 200px;
	}
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*
 * Main content
 */

.main {
  margin: 20px 0;
}
@media (min-width: 768px) {
  .main {
	margin: 40px 0;
  }
}

.padding0{
	padding:0;
}

.img-banner{
	height:350px;
	width:100%;
}


.margintop-50
{
	margin-top:-50px;
	position:relative;
}
.marginright50
{
	margin-right:50px;
	position:relative;
}


.form-control select,.form-control textarea{
	width:100%;
	height:100%;
}

.input-group-auto{
	min-height: 100px;
}

.input-group-auto .form-control{
	min-height: 100px;
}
