<span style='color: #000' title='Frames'>   397</span><span style='color: #009' title='Memory'>  17152.00 KB</span><span style='color: #900' title='Time'>   4775.48 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />