/*
div:not(.header-admin-editor) .container{
	padding: 20px !important;
}
div:not(.header-admin-editor) .row{
	padding: 20px !important;
}
div:not(.header-admin-editor) [class*=col-]{
	
}
*/